<ul class="list-group">
  <li class="list-group-item" (click)="GetColor('red')">Rouge</li>
  <li class="list-group-item" (click)="GetColor('blue')">Bleu</li>
</ul>
<hr />


<div class="input-group mb-3">
  <div class="input-group-append">
    <span  class="input-group-text" id="basic-addon3">Entré du texte</span>
  </div>
  <input [(ngModel)]="nom" 
    [style.backgroundColor]="color"      
    type="text" class="form-control" placeholder="exemple : text"   >
</div>

<div>
  <span  class="input-group-text" id="basic-addon3">Vous avez saisi</span>
  <textarea name="Text" id="" cols="30" rows="10">{{nom}}</textarea>
</div>


